header {
    padding: 20px;
    text-align: center;
}

form {
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#repo-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.repo-div {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
}